.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navbar-link {
        display: inline-block;
    }
    
    .navbar-link:link {
        text-decoration: none;
        color: #333;
    }
    
    .navbar-link:visited {
        color: #444;
    }
}